<ion-header>
  <ion-toolbar>
    <ion-title>
      <span>Home</span>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <swiper
    class="borderBottom"
    [config]="config">
      <ng-template swiperSlide>
        <div [ngStyle]="{'background-image' : 'url(assets/imgs/1.jpg)'}"></div>
      </ng-template>
      <ng-template swiperSlide>
        <div [ngStyle]="{'background-image' : 'url(assets/imgs/2.jpg)'}"></div>
      </ng-template>
      <ng-template swiperSlide>
        <div [ngStyle]="{'background-image' : 'url(assets/imgs/3.jpg)'}"></div>
      </ng-template>
    </swiper>

    <ion-list>
      <ion-list-header class="ion-margin-bottom">
        <ion-label>
          <h4>Restaurants Nearby</h4>
          <p>Discover unique tastes near you</p>
        </ion-label>
      </ion-list-header>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="assets/imgs/1.jpg" />
        </ion-thumbnail>
        <ion-label>
          <h4>Stayfit</h4>
          <ion-text color="medium">
            <p class="pStyle">
              Italian, Mexican
            </p>
          </ion-text>
          <span>
            <ion-icon name="star"></ion-icon>
            5 .
          </span>
          25 mins . ₹100 for two
          <ion-text color="tertiary">
            <p class="distance">
              2.59 kms away
            </p>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-list>

</ion-content>
